/**
 * 全屏时的样式设定（此处主要针对于video标签）
 *
 * 2017.5 www.freeedit.cn
 * yang fan
 */

:-webkit-full-screen
  /* properties */

:-moz-full-screen
  /* properties */

:-ms-fullscreen
  /* properties */

:full-screen
  /* properties */

:fullscreen
  /* properties */

:-webkit-full-screen video
  width: 100%
  height: 100%

::backdrop
  /* properties */

::-ms-backdrop
  /* properties */
