/**
 * 图标字体定义时使用到的变量
 *
 * 2017.5 www.freeedit.cn
 * yang fan
 */

icon-font-path ?= "../fonts"

icon-app-icon-path1 = "\e900"
icon-app-icon-path2 = "\e901"
icon-app-icon-path3 = "\e902"
icon-add = "\e903"
icon-add-seal = "\e904"
icon-anchor-task = "\e905"
icon-baidu-wallet = "\e906"
icon-balance = "\e907" // 余额
icon-bank-card = "\e908"
icon-bar = "\e909"
icon-bar-active = "\e90a"
icon-bookcase = "\e90b"
icon-bottle = "\e90c"
icon-bottom-arrow = "\e90d"
icon-card-bean = "\e90e"
icon-card-coupons = "\e90f" // 卡券包
icon-card-package = "\e910"
icon-choose = "\e911"
icon-close = "\e912"
icon-confirm = "\e913"
icon-crown = "\e914" // 皇冠
icon-decrease = "\e915" // -
icon-diamond = "\e916" // 钻石
icon-direct-seeding = "\e917" // 直播
icon-dirft-bottle = "\e918" // 漂流瓶
icon-emoticon = "\e919"
icon-female = "\e91a"
icon-friend = "\e91b"
icon-game-handle = "\e91c" // 游戏手柄
icon-gift = "\e91d"
icon-hash = "\e91e" // #
icon-history = "\e91f"
icon-home = "\e920"
icon-home-active = "\e921"
icon-know = "\e922"
icon-know-active = "\e923"
icon-kuso-emoticon = "\e924"
icon-ladder = "\e925" // 热度
icon-left-arrow = "\e926"
icon-level = "\e927"
icon-lock = "\e928"
icon-male = "\e929"
icon-message = "\e92a"
icon-message-active = "\e92b"
icon-mine = "\e92c"
icon-mine-active = "\e92d"
icon-move = "\e92e"
icon-msg-text = "\e92f"
icon-music-play = "\e930"
icon-new-badge = "\e931"
icon-new-friend = "\e932"
icon-notice = "\e933" // 公告
icon-photo = "\e934"
icon-post-bar = "\e935"
icon-record = "\e936"
icon-reply-msg = "\e937"
icon-report = "\e938"
icon-reverse = "\e939"
icon-right-arrow = "\e93a"
icon-rocket = "\e93b"
icon-rotate = "\e93c"
icon-seal = "\e93d"
icon-search = "\e93e"
icon-setting = "\e93f"
icon-share = "\e940"
icon-shop = "\e941"
icon-sign = "\e942"
icon-star = "\e943"
icon-t-bean = "\e944"
icon-top-arrow = "\e945"
icon-unknown-user = "\e946"
icon-user-at = "\e947"
icon-user-default = "\e948"
icon-user-group = "\e949"
icon-user-group-2 = "\e94a"
icon-user-reply = "\e94b"
icon-warn-text = "\e94c"
icon-write = "\e94d"
icon-write-2 = "\e94e"
