/**
 * 图标字体的定义
 * (这些图标字体都是来自于阿里图标库中)
 * (且这些图标字体是经icomoon打包生成的)
 *
 * 2017.5 www.freeedit.cn
 * yang fan
 */

@import "./icon-variables"

@font-face
  font-family 'tieba-icon'
  src:
    url(icon-font-path + '/tieba-icon.ttf?6f9j6l') format('truetype'),
    url(icon-font-path + '/tieba-icon.woff?6f9j6l') format('woff'),
    url(icon-font-path + '/tieba-icon.svg?6f9j6l#tieba-icon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'tieba-icon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-app-icon .path1
  &:before
    content: icon-app-icon-path1
    color rgb(51, 136, 255)
.icon-app-icon .path2
  &:before
    content: icon-app-icon-path2
    margin-left -1em
    color rgb(255, 255, 255)
.icon-app-icon .path3
  &:before
    content: icon-app-icon-path3
    margin-left -1em
    color rgb(255, 255, 255)
.icon-add
  &:before
    content icon-add
.icon-add-seal
  &:before
    content icon-add-seal
.icon-anchor-task
  &:before
    content icon-anchor-task
.icon-baidu-wallet
  &:before
    content icon-baidu-wallet
.icon-balance
  &:before
    content icon-balance
.icon-bank-card
  &:before
    content icon-bank-card
.icon-bar
  &:before
    content icon-bar
.icon-bar-active
  &:before
    content icon-bar-active
.icon-bookcase
  &:before
    content icon-bookcase
.icon-bottle
  &:before
    content icon-bottle
.icon-bottom-arrow
  &:before
    content icon-bottom-arrow
.icon-card-bean
  &:before
    content icon-card-bean
.icon-card-coupons
  &:before
    content icon-card-coupons
.icon-card-package
  &:before
    content icon-card-package
.icon-choose
  &:before
    content icon-choose
.icon-close
  &:before
    content icon-close
.icon-confirm
  &:before
    content icon-confirm
.icon-crown
  &:before
    content icon-crown
.icon-decrease
  &:before
    content icon-decrease
.icon-diamond
  &:before
    content icon-diamond
.icon-direct-seeding
  &:before
    content icon-direct-seeding
.icon-dirft-bottle
  &:before
    content icon-dirft-bottle
.icon-emoticon
  &:before
    content icon-emoticon
.icon-female
  &:before
    content icon-female
.icon-friend
  &:before
    content icon-friend
.icon-game-handle
  &:before
    content icon-game-handle
.icon-gift
  &:before
    content icon-gift
.icon-hash
  &:before
    content icon-hash
.icon-history
  &:before
    content icon-history
.icon-home
  &:before
    content icon-home
.icon-home-active
  &:before
    content icon-home-active
.icon-know
  &:before
    content icon-know
.icon-know-active
  &:before
    content icon-know-active
.icon-kuso-emoticon
  &:before
    content icon-kuso-emoticon
.icon-ladder
  &:before
    content icon-ladder
.icon-left-arrow
  &:before
    content icon-left-arrow
.icon-level
  &:before
    content icon-level
.icon-lock
  &:before
    content icon-lock
.icon-male
  &:before
    content icon-male
.icon-message
  &:before
    content icon-message
.icon-message-active
  &:before
    content icon-message-active
.icon-mine
  &:before
    content icon-mine
.icon-mine-active
  &:before
    content icon-mine-active
.icon-move
  &:before
    content icon-move
.icon-msg-text
  &:before
    content icon-msg-text
.icon-music-play
  &:before
    content icon-music-play
.icon-new-badge
  &:before
    content icon-new-badge
.icon-new-friend
  &:before
    content icon-new-friend
.icon-notice
  &:before
    content icon-notice
.icon-photo
  &:before
    content icon-photo
.icon-post-bar
  &:before
    content icon-post-bar
.icon-record
  &:before
    content icon-record
.icon-reply-msg
  &:before
    content icon-reply-msg
.icon-report
  &:before
    content icon-report
.icon-reverse
  &:before
    content icon-reverse
.icon-right-arrow
  &:before
    content icon-right-arrow
.icon-rocket
  &:before
    content icon-rocket
.icon-rotate
  &:before
    content icon-rotate
.icon-seal
  &:before
    content icon-seal
.icon-search
  &:before
    content icon-search
.icon-setting
  &:before
    content icon-setting
.icon-share
  &:before
    content icon-share
.icon-shop
  &:before
    content icon-shop
.icon-sign
  &:before
    content icon-sign
.icon-star
  &:before
    content icon-star
.icon-t-bean
  &:before
    content icon-t-bean
.icon-top-arrow
  &:before
    content icon-top-arrow
.icon-unknown-user
  &:before
    content icon-unknown-user
.icon-user-at
  &:before
    content icon-user-at
.icon-user-default
  &:before
    content icon-user-default
.icon-user-group
  &:before
    content icon-user-group
.icon-user-group-2
  &:before
    content icon-user-group-2
.icon-user-reply
  &:before
    content icon-user-reply
.icon-warn-text
  &:before
    content icon-warn-text
.icon-write
  &:before
    content icon-write
.icon-write-2
  &:before
    content icon-write-2
