/**
 * 所有公有变量的定义部分
 *
 * 2017.5 www.freeedit.cn
 * yang fan
 */

// 定义 颜色
$app-grey = #77797e
$font-grey = #aaaaaa
$app-blue = #3388ff
$line-1px = #dddddd
$bar-white = rgba(255,255,255,.95)
$layer-black = rgba(7,17,27,.95)
$layer-black-9 = rgba(7,17,27,.9)
$layer-black-85 = rgba(7,17,27,.85)
$layer-black-8 = rgba(7,17,27,.8)

// 定义 长度
$bar-height = px(118)
$header-height = px(102)
$page-padding = px(22)
$header-icon-size = px(50)
$header-font-size = px(36)
$header-icon-mr = px(30)

// 定义各个页面级组件及其相关组件之间的 z-index
$p-home-z = 6
$p-bar-z = 6
$p-know-z = 6
$p-message-z = 6
$p-mine-z = 6
$p-author-z = 666
$p-start-z = 670
$p-login-z = 674
$p-bar-detail-z = 66
$p-post-detail-z = 66
$p-search-post-z = 66
$p-search-bar-z = 66
$p-create-bar-z = 66
$c-bottom-bar-z = 66
$a-input-box-z = 800
$a-message-box-z = 1000
